{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     {% comment %} style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"> {% endcomment %}
  <!-- Mask -->
  {% comment %} <span class="mask bg-gradient-default opacity-8"></span> {% endcomment %}
  <!-- Header container -->
  {% comment %} <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Hello {{ request.user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-neutral">Edit profile</a>
      </div>
    </div>
  </div> {% endcomment %}
  <br>
</div>
<!-- Page content -->



<div class="container-fluid mt--6">
  <div class="row">
    {% comment %} <div class="col-xl-8 order-xl-1"> {% endcomment %}
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Liste des utilisateurs</h3>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
                Ajouter
              </button>
            </div>
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Ajout utilisateur</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
            
                  <!-- Modal body -->
                  <div class="modal-body">
                    <form action="" method="post">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Nom</label>
                            <input type="text" id="input-first-name" class="form-control form-control-sm"
                              placeholder="First name" value="Lucky">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Prénom</label>
                            <input type="text" id="input-first-name" class="form-control form-control-sm"
                              placeholder="First name" value="Lucky">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" class="form-control form-control-sm"
                              placeholder="Username" value="{{ request.user.username }}">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="role">Rôle</label>
                            <select class="form-control form-control-sm" id="role" name="role">
                              <option>Caisse1</option>
                              <option>Caisse2</option>
                              <option>Serveur(se)</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Mot de passe</label>
                            <input type="password" id="input-first-name" class="form-control form-control-sm"
                              placeholder="First name" value="Lucky">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">Rétaper mot de passe</label>
                            <input type="password" id="input-first-name" class="form-control form-control-sm"
                              placeholder="First name" value="Lucky">
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input form-control-sm" id="customFileLang"
                            lang="en">
                          <label class="custom-file-label" for="customFileLang"></label>
                        </div>
                      </div>
                      <button class="btn btn-primary btn-sm" type="submit">Ajouter</button>
                      <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Annuler</button>
                    </form>
                  </div>
            
                  <!-- Modal footer -->
                  {% comment %} <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div> {% endcomment %}
            
                </div>
              </div>
            </div>
            <div class="table-responsive py-4">
              <table class="table table-flush" id="datatable-basic">
                <thead class="thead-light">
                  <tr>
                    <th>Photo</th>
                    <th>Username</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Role</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                  </tr>
                  <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                  </tr>
                  <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                  </tr>
                  <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                  </tr>
                  <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                  </tr>
                  <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                  </tr>
                  <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                  </tr>
                  <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                  </tr>
                  <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008/12/19</td>
                    <td>$90,560</td>
                  </tr>
                  <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td>$342,000</td>
                  </tr>
                  <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008/10/16</td>
                    <td>$470,600</td>
                  </tr>
                  
              </table>
            </div>
          </div>
        </div>
        
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
  {% include "includes/footer.html" %}

</div>

<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="https://appsrv1-147a1.kxcdn.com/argon-dashboard-pro/js/argon.js?v=1.2.0"></script>
{% endblock javascripts %}
